
li {
    float: left;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f41010;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 12px;
    text-decoration: none;

}

li a:hover {
    background-color: #721414;
  }

.active {
    background-color: #dd3a3a;
}  

.progBarWrap{
    background-color: lightgray;
    border-radius: 15px;
}
#progBar{
    background-color: green;
    height:24px;
    border-radius: 15px;
}
.clockWrap {
    background-color: black;
    width: 380px;
    display: flex;
    justify-content: center;
}
#clock {
    font-size: 72px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #dd3a3a, #e66e1e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#student_countdown {
    font-size: 72px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url("IMG-2425.jpg");
    background-position: center;
    background-size: 120%;
    background-attachment: fixed;
}
div.fixed {
    position: fixed;
    top: 0;
    right: 0;
}
